@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1{
    @apply font-bold my-1
  }
  input{
    @apply bg-gray-50 border border-gray-300
  text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
  }
}

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
    @apply my-4 border-black hover:shadow-2xl transition duration-700 ease-out
  }
  .links {
    @apply list-disc text-blue-600 hover:text-blue-400 ml-6
  }
}